{
  "extends": [
    "react-app",
    "airbnb",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "rules": {
    "linebreak-style": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      { "ts": "never", "tsx": "never" }
    ],
    "no-tabs": "off",
    "no-console": "error",
    "curly": ["error", "all"],
    "func-style": ["error", "expression"],
    "max-len": ["error", { "code": 80 }],
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "comma-dangle": ["error", "never"],
    "object-curly-spacing": ["error", "always"],
    "arrow-parens": ["error", "always"],
    "eol-last": ["error", "never"],
    "@typescript-eslint/no-explicit-any": "off",
    "no-plusplus": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".tsx"] }],
    "react/jsx-closing-bracket-location": [1, "line-aligned"],
    "react/prop-types": "off",
    "jsx-quotes": ["error", "prefer-single"]
  },
  "overrides": [{
    "files": ["**/*.ts"],
    "parser": "@typescript-eslint/parser",
    "rules": {
      "no-undef": "off"
    }
  }]
}