.basecontentpage {
  padding: var(--topbar-height) 20px 0 20px;
  animation: 500ms basecontentpage-fade-in;
}

@keyframes basecontentpage-fade-in {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.basecontentpage-text {
  line-height: 1.7;
}

.basecontentpage-text-background {
  background: rgba(187,239,253,0.3);
}

.basecontentpage-link {
  font-weight: 600;
  color: red;
  transition: color 250ms;
}

.basecontentpage-link:hover {
  color: orange;
}

.basecontentpage-wrapper {
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  border-radius: 10px;
}

.basecontentpage-wrapper-text {
  display: inline-block;
  color: white;
  word-spacing: 2px;
  margin: 20px 20px 0 20px;
}

.basecontentpage-wrapper-text:last-of-type {
  margin-bottom: 20px;
}
