.courosel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: calc(100% - var(--topbar-height) - 80px);
  padding-top: 70px; /* 60px - 80px */
  /* border: 5px solid red; */
}

.courosel-title {
  padding: 0;
  margin: 0 16px;
  font-size: 46px;
  color: white;
  text-align: center;
  /* border: 1px solid white; */
}

.courosel-description {
  padding: 0;
  margin: 0 16px;
  font-size: 32px;
  color: white;
  text-align: center;
}

.courosel-check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 130px;
  border: 1px solid white;
  border-radius: 20px;
}

.courosel-check-text {
  padding-bottom: 4px;
  font-size: 28px;
  font-weight: 600;
  color: white;
  text-align: center;
}

.courosel-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  position: absolute;
  bottom: 10px;
  z-index: 1;
}

.courosel-select-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  /* border: 1px solid white; */
}

/* .courosel-select-inputs-input:nth-of-type(1) {
  background: red;
} */

.courosel-select-inputs-input {
  height: 30px;
  width: 100px;
  border: 1px solid white;
  border-radius: 5px;
}

.courosel-select-inputs-input-text {
  position: absolute;
  font-size: 20px;
  width: 100px;
  text-align: center;
  color: white;
}

.courosel-select-timer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20px;
  /* border: 1px solid green; */
}

.courosel-select-timer-row {
  width: 50%;
  height: 10px;
  border-top: 2px solid white;
}

@media only screen and (max-width: 576px) {
  .courosel-title {
    font-size: 38px;
  }

  .courosel-description {
    font-size: 28px;
  }

  .courosel-check {
    width: 130px;
    height: 110px;
  }

  .courosel-check-text {
    font-size: 24px;
  }

  .courosel-select-inputs-input {
    height: 22px;
    width: 80px;
  }

  .courosel-select-inputs-input-text {
    font-size: 16px;
    width: 80px;
  }
}

@media only screen and (max-width: 400px) {
  .courosel-select {
    width: 85%;
  }
}

@media only screen and (max-width: 330px) {
  .courosel-select {
    width: 95%;
  }
}

@media only screen and (max-height: 500px) {
  .courosel-title {
    display: none;
  }

  .courosel-description {
    display: none;
  }

  .courosel-select {
    display: none;
  }
}

@media only screen and (max-height: 300px) {
  .courosel-check {
    display: none;
  }
}