.courosel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  ;padding-top: 40px;
  border: 5px solid red;
}

.courosel-title {
  padding: 0;
  margin: 0 16px;
  font-size: 46px;
  color: white;
  text-align: center;
}

.courosel-description {
  padding: 0;
  margin: 0 16px;
  font-size: 32px;
  color: white;
  text-align: center;
}

.courosel-check {
  width: 150px;
  height: 130px;
  border: 1px solid white;
  border-radius: 20px;
}

.courosel-inputs {
  width: 80%;
  height: 30px;
  border: 1px solid white;
}